html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}